<!-- <p>footer works!</p> -->

<!-- start footer -->
<footer class="footer mb-5 overflow-hidden  ">
    <div class=" container-fluid w-full py-5 ">
        <div class="row ">
            <div class="col-md-12">
                <div class="footer-manu text-center" >
                    <p class="h2 text-white mb-0 ">Let's</p>
                    <p class="h2 text-white ">synergize</p>
                    <p class=" mt-10 text-zinc-600">Traditional design has been shown the exit; the <br>
                       design you desire has just made its debut.</p>
                </div>
            </div>
        </div>
        <div class=" text-center mt-5 lasttext">
            <div class="row py-1  mx-auto px-2 position-relative rounded-pill">
                <input type="text" placeholder="name@email.com" 
                    class="rounded-pill border-0 bg-transparent py-4 pe-4 text-light "/>
                <button class="py-1 px-2 border-0 text-nowrap position-absolute  ">Get Started</button>
            </div>
        </div>
    </div>
</footer>

